<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Абітурієнти</title>

    <!-- основной стиль -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<nav class="app-header">
    <div class="app-header-inner">
        <div class="logo" th:if="${session.user == 'applicant'}">
            <i class="bi bi-person-vcard"></i>
            <span>Абітурієнт</span>
        </div>

        <div class="logo" th:if="${session.user == 'committee'}">
            <i class="bi bi-mortarboard"></i>
            <span>Приймальна комісія</span>
        </div>

        <div class="logo" th:if="${session.user == 'appeal-committee'}">
            <i class="bi bi-clipboard2-check"></i>
            <span>Апеляційна комісія</span>
        </div>

        <div class="logo" th:if="${session.user == 'admin'}">
            <i class="bi bi-person-gear"></i>
            <span>Адміністратор</span>
        </div>

        <div class="logo" th:if="${session.user == 'user'}">
            <i class="bi bi-person-help"></i>
            <span>Хто я?</span>
        </div>

        <ul class="nav-links header-bar">
            <li th:if="${session.user != 'user' && session.user != 'appeal-committee'}">
                <a href="/applicants/">
                    <i class="bi bi-people"></i>
                    Абітурієнти
                </a>
            </li>
            <li>
                <a href="/users/">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Увійти
                </a>
            </li>
            <li th:if="${session.user == 'committee' or session.user == 'admin'}">
                <a href="/specialties/">
                    <i class="bi bi-list-check"></i>
                    Спеціальності
                </a>
            </li>
            <li th:if="${session.user == 'appeal-committee' or session.user == 'admin'}">
                <a href="/appeals/">
                    <i class="bi bi-envelope-exclamation"></i>
                    Апеляції
                </a>
            </li>
            <li th:if="${session.user == 'committee' or session.user == 'admin'}">
                <a href="/reports/">
                    <i class="bi bi-graph-up"></i>
                    Звіти
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
