<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<div th:replace="common/fragments/error-popup"></div>
<div th:replace="common/fragments/header"></div>
<body>
<main class="app-main">

    <!-- Три формы в строку: поиск / удаление / обновление -->
    <section class="card-row">


        <!-- удаление -->
        <div class="card card-sm">
            <h3 class="card-title">
                <i class="bi bi-trash"></i>
                Видалити абітурієнта
            </h3>
            <div th:replace="applicants/fragments/delete-applicant"></div>
        </div>


    </section>


    <!-- Таблица + селектор специальности -->
    <section class="card">
        <div class="card-header-inline">
            <h2 class="card-title">
                <i class="bi bi-table"></i>
                Таблиця абітурієнтів
            </h2>

            <div th:replace="applicants/fragments/select-specialty-for-table"></div>
        </div>

        <div th:replace="appeal/fragments/table"></div>
    </section>
</main>
</body>
</html>