<div class="modal fade" id="appealModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="dynamicModalTitle">Загрузка...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <p id="appealModalContent">Подождите...</p>
                <p id="appealModalContent_applicantId"></p>
                <p id="appealModalContent_applicantFullName"></p>
                <p id="appealModalContent_specialtyForApplicantId"></p>
                <textarea id="appealModalContent_appealMessage" rows="6" class="form-control" readonly="true"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>