<div id="custom-appeal-modal" class="modal" style="display:none">
    <div class="modal-content" style="max-width: 800px;">
        <span id="appeal-close-btn" class="close-btn" role="button">&times;</span>

        <h4 id="dynamicModalTitle" style="margin-top: 0;">Загрузка...</h4>
        <hr>

        <div class="modal-info-box" style="text-align: left; background-color: #f8f9fa; border-radius: 8px; margin-bottom: 15px;">

            <p id="appealModalContent" style="margin: 0;">Подождите...</p>

            <div id="appealModalContent_applicantId" style="margin-bottom: 5px;"></div>
            <div id="appealModalContent_applicantFullName" style="margin-bottom: 5px;"></div>
            <div id="appealModalContent_specialtyForApplicantId"></div>

        </div>


        <label style="text-align: left">Повідомлення апеляції:</label>
        <textarea id="appealModalContent_appealMessage" rows="6" class="form-control" readonly="true"></textarea>

    </div>
</div>