<form id="addAppealForm" class="form-section" xmlns="http://www.w3.org/1999/html">
    <div class="form-stack">
        <div class="form-field">
            <label for="specialtyForApplicantId">Id заяви</label>
            <input type="number" id="specialtyForApplicantId" placeholder="ID" required/>
        </div>
        <div class="form-field">
            <label for="appealMessage">Текст апеляції</label>
            <textarea id="appealMessage" rows="6" class="form-control" required></textarea>
        </div>
    </div>

    <button type="submit" id="addAppealButton" class="btn-outline">
            <i class="bi bi-shield-exclamation"></i>
            Подати апеляцію
    </button>
</form>