<div id="deleteAppealForm" class="form-section" xmlns="http://www.w3.org/1999/html">
    <div class="form-stack">
        <div class="form-field">
            <label for="deleteAppeal_specialtyForApplicantId">Id заяви</label>
            <input type="number" id="deleteAppeal_specialtyForApplicantId" placeholder="ID" required/>
        </div>
    </div>

    <button type="submit" id="deleteAppealButton" class="btn-outline">
        <i class="bi bi-shield-exclamation"></i>
        Видалити апеляцію
    </button>
</div>