<form id="updateAppealStatusForm" class="form-inline">
    <div class="form-field">
        <label for="updateAppealStatusApplicantId">ID апеляції</label>
        <input type="number" id="updateAppealStatusApplicantId" required>
    </div>
    <div class="form-field">
        <label for="appealStatusSelect">Статус</label>
        <select id="appealStatusSelect"></select>
    </div>
    <button type="submit" id="updateAppealStatusBtn" class="btn-outline">
        <i class="bi bi-arrow-repeat"></i>
        Оновити
    </button>
</form>
